<h1>❄❄❄</h1>
<h1>Secret Santa</h1> 
<h1>❄❄❄</h1>
<h3>Dear <%= @user.first_name %>,</h3>
<p>Thank you for agreeing to particpate in this Secret Santa event!</p>
<p>The person you will be buying a gift for is.... </p>
<h2><%= @match.first_name %> <%= @match.last_name %></h2>
<p>Some gift ideas they had for you are... </p>
<%= @match.ideas %>
<p>Have fun and good luck!</p>
<h3>Sincerely,</h3>
<h2>The Secret Santa Team</h2>
